<% if (messages.danger) { %>
  <h3 class="danger message"><%= messages.danger %></h3>
<% } %>
<h1>Edit <%= entry.name %> password</h1>
<form action="/users/<%= entry.id %>/editPassword" method="post">
  <input type="hidden" name="username" value="<%= entry.username %>" id="username_field" required>
  <input type="hidden" name="email" value="<%= entry.email %>" id="email_field" required>
  <label for="password_field">New Password:</label>
  <input type="password" name="password" id="password_field" required>
  <label for="confirm_password_field">Confirm New Password:</label>
  <input type="password" name="confirm_password" id="confirm_password_field" required>
  <button type="submit" name="button">Submit</button>
</form>
