<% if (messages.danger) { %>
  <h3 class="danger message"><i class="fas fa-exclamation-circle"></i> &nbsp<%= messages.danger %></h3>
<% } %>
<div class="container">
  <div class="row">
    <h1>Edit <%- entry.name %> password</h1>
    <form action="/users/<%= entry.id %>/editPassword" method="post">
      <input type="hidden" name="username" value="<%= entry.username %>" id="username_field" required>
      <input type="hidden" name="email" value="<%= entry.email %>" id="email_field" required>
      <div class="input-field col s12 m6">
        <label for="password_field">New Password:</label>
        <input type="password" name="password" id="password_field" required>
      </div>
      <div class="input-field col s12 m6">
        <label for="confirm_password_field">Confirm New Password:</label>
        <input type="password" name="confirm_password" id="confirm_password_field" required>
      </div>
      <button class="btn green lighten-1" type="submit" name="button">Submit</button>
    </form>
  </div>
</div>
