<% if (messages.danger) { %>
  <h2>! <%= messages.danger %> !</h2>
<% } %>
<h1>Edit <%= entry.name %></h1>
<form action="/users/<%= entry.id %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <label for="username_field">Username:</label>
  <input type="text" name="username" value="<%= entry.username %>" id="username_field" required>
  <label for="email_field">Email:</label>
  <input type="email" name="email" value="<%= entry.email %>" id="email_field" required>
  <input type="hidden" name="password" value="<%= entry.password %>" required>
  <input type="hidden" name="confirm_password" value="<%= entry.password %>" required>
  <button type="submit" name="button">Submit</button>
</form>
