<h1>Profile for <%= entry.username %></h1>
<h2>Username: <%= entry.username %></h2>
<p>Email: <%= entry.email %></p>
<form action="/users/<%= entry.id %>/edit" method="get">
  <button>Edit</button>
</form>
<form action="/users/<%= entry.id %>/editpassword" method="get">
  <button>Change password</button>
</form>
<form action="/users/<%= entry.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete</button>
</form>
